<tr>
  <td><%= skill.name %></td>
  <td>
    <%= link_to "", edit_admin_skill_path(skill),
      class: "glyphicon glyphicon-edit" %>
    <%= link_to "", admin_skill_path(skill), method: :delete,
      data: {confirm: "Are you sure?"},
      class: "glyphicon glyphicon-trash" %>
  </td>
</tr>
